[Unit]
Description=Run animelistgen daily for seasonal anime MDBList sync
Documentation=https://github.com/calmcacil/animelistgen

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target
